div(class="feed-container")
  h1(class="container-header") Home
    p Yo what's up here's the swapi
    //- a(href="#", class="main-feed")
    //-   p(class="name") Car
    //- a(href="#", class="main-feed")
    //-   p(class="name") Car
    //- a(href="#", class="main-feed")
    //-   p(class="name") Car
    //- a(href="#", class="main-feed")
    //-   p(class="name") Car
    //- a(href="#", class="main-feed")
    //-   p(class="name") Car
    //- a(href="#", class="main-feed")
    //-   p(class="name") Car
    //- a(href="#", class="main-feed")
    //-   p(class="name") Car
    //- a(href="#", class="main-feed")
    //-   p(class="name") Car
    //- a(href="#", class="main-feed")
    //-   p(class="name") Car
