div(class="feed-container")
  h1(class="container-header") People
  a(href="#", class="main-feed")
   p(class="name") Car
  a(href="#", class="main-feed")
   p(class="name") Car
  a(href="#", class="main-feed")
   p(class="name") Car
  a(href="#", class="main-feed")
   p(class="name") Car
  a(href="#", class="main-feed")
   p(class="name") Car
  a(href="#", class="main-feed")
   p(class="name") Car
  a(href="#", class="main-feed")
   p(class="name") Car
  a(href="#", class="main-feed")
   p(class="name") Car
  a(href="#", class="main-feed")
   p(class="name") Car
template(id="template-feed-list")
 a(href="#", class="main-feed")
   p(class="name")
