doctype html
html(lang="en")
  head
    title="Vanilla SWAPI"
    meta(charset="utf-8")
    link(rel="stylesheet", type="text/css", href="assets/style/app.css")
    script(src="assets/script/request.js")
    script(src="assets/script/view.js")
    script(src="assets/script/router.js")
    script(src="assets/script/data.js")
    script(src="assets/script/model.js")
    script(src="assets/script/app.js")
  body
    div(id="shell")
      div(class="navbar main-menu")
        ul
          li
            a(href="#home")
              i(class="fa fa-home")
          li
            a(href="#people")
              i(class="fa fa-male")
          li
            a(href="#films")
              i(class="fa fa-film")
          li
            a(href="#starships")
              i(class="fa fa-space-shuttle")
          li
            a(href="#vehicles")
              i(class="fa fa-car")
          li
            a(href="#species")
              i(class="fa fa-universal-access")
          li
            a(href="#planets")
              i(class="fa fa-circle")
      div(class="feed-grand-container")
      div(class="detail-grand-container")
