doctype html
html(lang="en")
  head
    title="Vanilla SWAPI"
    link(rel="stylesheet", type="text/css", href="app.css")
    script(src="app.js")
  body
    div(id="shell")
      div(class="navbar main-menu")
        ul
          li
            a(href="#")
              i(class="fa fa-male")
          li
            a(href="#")
              i(class="fa fa-film")
          li
            a(href="#")
              i(class="fa fa-space-shuttle")
          li
            a(href="#")
              i(class="fa fa-car")
          li
            a(href="#")
              i(class="fa fa-universal-access")
          li
            a(href="#")
              i(class="fa fa-circle")
      div(class="feed-grand-container")
        div(class="feed-container")
          h1 People
          //- a(href="#", class="main-feed")
          //-   p(class="name") Car
          //- a(href="#", class="main-feed")
          //-   p(class="name") Car
          //- a(href="#", class="main-feed")
          //-   p(class="name") Car
          //- a(href="#", class="main-feed")
          //-   p(class="name") Car
          //- a(href="#", class="main-feed")
          //-   p(class="name") Car
          //- a(href="#", class="main-feed")
          //-   p(class="name") Car
          //- a(href="#", class="main-feed")
          //-   p(class="name") Car
          //- a(href="#", class="main-feed")
          //-   p(class="name") Car
          //- a(href="#", class="main-feed")
          //-   p(class="name") Car
      div(class="detail-grand-container")
        div(class="detail-container")
          h3 May the force be with me
    template(id="template-feed-list")
      a(href="#", class="main-feed")
        p(class="name")
