doctype html
html(lang="en")
  head
    title="Vanilla SWAPI"
    link(rel="stylesheet", type="text/css", href="app.css")
  body
    div(id="shell")
      div(class="navbar main-menu")
        ul
          li
            a(href="#") People
          li
            a(href="#") Films
          li
            a(href="#") Starships
          li
            a(href="#") Vehicles
          li
            a(href="#") Species
          li
            a(href="#") Planets
      div(class="feed-grand-container")
        div(class="feed-container")
          h1 People
          a(href="#", class="main-feed")
            p Car
          a(href="#", class="main-feed")
            p Bike
          a(href="#", class="main-feed")
            p Jet
          a(href="#", class="main-feed")
            p Car
          a(href="#", class="main-feed")
            p Bike
          a(href="#", class="main-feed")
            p Jet
          a(href="#", class="main-feed")
            p Car
          a(href="#", class="main-feed")
            p Bike
          a(href="#", class="main-feed")
            p Jet
      div(class="detail-grand-container")
        div(class="detail-container")
          h3 May the force be with me
